* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Poppins;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #01060A
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.container {
  width: 1090px;
  max-width: 1090px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.home {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    margin: 0;
    box-sizing: border-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease 1s;
    z-index: 0;

    @media (max-width: 768px) {
      background-size: 1400px;
    }
}

.cardcontent {
    width: 100%;
    padding: 100px 40px 0 40px;

    @media (max-width: 765px) {
      width: 100%;
      min-width: 100%;
      padding: 0 12px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 39px;
    }
}

// .slide {

// }

.slideitem {
  text-align: center;
  width: 100%;
  pointer-events: all;

  img {
    object-fit: contain;
  }

  @media (max-width: 765px) {
    margin-top: 32px;

    img {
      width: 350px;
    }
  }
}

.carousel-cell {
  width: 100%;
}

.slidetext {
    width: 99%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 765px) {
      flex-direction: column;
      width: 100%;
      text-align: center;
      gap: 16px;
    }
}

.descript {
  max-width: 70%;

  @media (max-width: 765px) {
    max-width: 90%;
  }
}

.descripttitle {
  font-size: 28px;
  font-weight: bold;
}

.descripttext {
  width: 100%;
}

.flickity-button  {
  max-width: 30%;

  @media (max-width: 765px) {
    min-width: 100%;

    button {
      min-width: 100%;
    }
  }
}

.service {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      overflow-x: overlay;
      max-width: 100%;
      width: 100%;
      padding: 16px;
    }
}

.serviceitem {
    max-width: 30%;
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
}

.servicedescript {
    h5 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }

    @media (max-width: 768px) {
      width: 100%;
      width: 220px;
    }
}

.cardlist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content:space-between;

    @media (max-width: 765px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 16px;

      div:nth-child(3) {
        display: none;
      }

      div:nth-child(4) {
        display: none;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0 32px;

      div:nth-child(3) {
        display: block;
      }

      div:nth-child(4) {
        display: none;
      }
    }
}
@media screen and (max-width: 500px){
    .cardlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.roblox {
    margin-top: 70px;
}

.riot {
    margin-top: 40px;
}

.nintendo {
    width: 100%;
    margin-top: 45px;
    background-image: url('./../../assets/home/Banner Site Nintendo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 16px;

    img {
        width: 100%;
        height: auto;
        opacity: 0;
    }


    @media (max-width: 765px) {
      height: 238px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {

    }
}

.nintendoconntent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 0 30px;


    @media (max-width: 765px) {
      padding: 8px;
    }
}

.nintendoText {
    h5 {
      font-size: 28px;
      font-weight: bold;
    }

    @media (max-width: 765px) {
      max-width: 140px;
    }
}

.xbox {
    margin-top: 65px;
}


.xboxmain {
    width: 100%;
    min-width: 496px;
    height: 593px;
    max-height: 100%;
    margin-right: 16px;
    border-radius: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    @media (max-width: 765px) {
      width: 100%;
      min-width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 464px;
      max-width: 464px;
      height: 480px;
    }

    @media (max-width: 500px) {
      height: 400px;
    }
}

.xboxitem {
  width: 496px;
  max-width: 496px;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.xboxitemrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  @media (min-width: 768px) and (max-width: 1024px) {
    gap: 16px;

    &:nth-child(1) {
      display: none;
    }
    flex-direction: column;
  }
}

.xboxitemrow:last {
    margin-top: 12px;
}

.product {
    margin-top: 70px;
}

.productlist {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px 0;
  flex-wrap: wrap;
  margin-bottom: 20px;

  a {
    max-width: 324px;

    @media (max-width: 765px) {
      max-width: 100%;
    }
  }

  @media (max-width: 765px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    div:nth-child(3) {
      display: none;
    }
  }
}

