.rightimage {
    margin-left: 65px;
    display: block;
    max-width: 636px;
    height: 80%;
    border-radius: 0px;

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 765px) {
      width: 100%;
      margin-left: 0;
    }
}
